body {
  box-sizing: border-box;
  background-color: #eeeeee;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-family: "Ubuntu", sans-serif;
}

.section-column {
  height: 100vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 65px;
}

.logo-container img {
  width: 100%;
  height: auto;
}

.potrait {
  width: 50%;
}
